{% extends "layouts/base_authentication.html" %}
{% load i18n static %}

{% block title %}
{% trans "Reset password" %}
{% endblock %}

{% block form_id %}form-complete-password{% endblock %}

{% block form_method %}{% url 'accounts:forgot_password' %}{% endblock %}

{% block authentication_content %}
  <input id="email" name="email" placeholder="{% trans 'Email' %}" class="form-control p-2" type="email" autocomplete="email" />
  
  <p class="text-muted mt-4">I remember my password? <a href="{% url 'accounts:login' %}">Login</a></p>

  <button id="cta-forgot-password" type="submit" class="btn btn-lg btn-dark btn-block btn-rounded mt-5">
    {% trans "Reset password" %}
  </button>
{% endblock %}
