{% extends "layouts/base_authentication.html" %}
{% load i18n static %}

{% block title %}
{% trans "Signup" %}
{% endblock %}

{% block form_id %}form-signup{% endblock %}

{% block form_method %}{% url 'accounts:signup_view' %}{% endblock %}

{% block authentication_content %}
  <input id="username" name="username" placeholder="{% trans 'Username' %}" class="form-control p-2 mb-2" type="text" autocomplete="username" />
  <input id="email" name="email" placeholder="{% trans 'Email' %}" class="form-control p-2 mb-2" type="email" autocomplete="email" />
  <input id="password1" name="password1" placeholder="{% trans 'Password' %}" class="form-control p-2 mb-2" type="password" autocomplete="new-password" class="my-2" />
  <input id="password2" name="password2" placeholder="{% trans 'Password' %}" class="form-control p-2" type="password" autocomplete="new-password" class="my-2" />

  <button id="cta-login" type="submit" class="btn btn-lg btn-dark btn-block btn-rounded mt-5">
      {% trans "Signup" %}
  </button>

  <div class="mt-3">
    <base-checkbox id="stay-logged-in" label="{% trans 'Keep me logged in' %}" />
  </div>

  <p class="text-muted mt-4">Already have an account? <a href="{% url 'accounts:login_view' %}">Login here</a></p>
{% endblock %}
